/* Global Styles */

body {
	margin:0px;
	background-color:#F3F2F2;
	}
	
td {
	font:11px Arial, Helvetica, sans-serif;
	color:#000000;
	word-wrap: none;
	}
	
a {
	color: #000066;
	}
	
a:hover {
	color: #FF0000;
	}

/* ID Styles */
#headerText { 
	background-color:#DFDFDF;
	}

#subHeaderText {
	background-color:#DFDFDF;
	}
#spacer {
	background-color:#5E5E5E;
	}
#navbar {
	background-color:#CFCFCF;
	}
#navigation td {
	border-bottom: 1px solid #F4FFE4; background-color:#999999;
	}
	
#navigation a {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #000066;
	line-height:16px;
	letter-spacing:0.1em;
	text-decoration: none;
	display:block;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 4px;
	}

#navHeader {
	background-color: #882339;	
}

#navigation a:hover {
	background: #DFDFDF;
	color:#FF0000;
	}
	
#logo 	{
	font:36px Arial, Helvetica, sans-serif;
	color: #000000;
	letter-spacing:.2em;
	line-height:38px;
	}

#tagline 	{	
	font:13px Arial, Helvetica, sans-serif;
	color: #5B5353;
	letter-spacing:.15em;
	}

#monthformat {
	border-bottom: 1px dashed #5C743D;
	}
		
#dateformat {
	font:11px Arial, Helvetica, sans-serif;
	color: #000000;
	letter-spacing:.2em;
	}
	
#dateformat a {
	font:11px Arial, Helvetica, sans-serif;
	color: #000066;
	font-weight:bold;
	letter-spacing:.1em;
	text-decoration:none;
	}
	
#dateformat a:hover {
	color: #F4FFE4;
	letter-spacing:.1em;
	}
	
/* Class Styles */
	
.bodyText {
	font:11px Arial, Helvetica, sans-serif;
	color:#666666;
	line-height:20px;
	margin-top:0px;
	}
.cityNames {
	font:14px Arial, Helvetica, sans-serif;
	color:#666666;
	line-height:20px;
	margin-top:0px;
}	
.navheadertext{
	font: 18px Arial, Helvetica, sans-serif;
	color: #DCDFDF;
	line-height:21px;
	letter-spacing:.15em;
	}

.pageName{
	font: 18px Arial, Helvetica, sans-serif;
	color: #000000;
	line-height:21px;
	letter-spacing:.15em;
	}
	
.subHeader {
	font:bold 11px Arial, Helvetica, sans-serif;
	color: #993300;
	line-height:22px;
	letter-spacing:.2em;
	}

.quote {
	font: 20px Arial, Helvetica, sans-serif;
	color: #3b5999;
	line-height:30px;
	}
	
.smallText {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 22px;
	}
	
.navText {
	font: 11px Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
	
.title {  font-family: Verdana; font-size: 16px; color: #000000; font-weight: bold; text-decoration: none}
.mapText { font-family: Verdana; font-size: 14px; color: #000000; font-weight: normal; text-decoration: none}